<!-- <div>
  <br>
  <v-spacer></v-spacer>
  <br>
  <div class="row justify-center items-center">
    <q-btn flat label="Today" @click="calendarToday" />
    <q-separator vertical />
    <q-btn flat label="Previous" @click="calendarPrev" />
    <q-separator vertical />
    <q-btn flat label="Next" @click="calendarNext" />
  </div>
  <br>
  <v-spacer></v-spacer>
  <div class="row justify-center full-width q-pa-md">
    <q-calendar ref="calendar" v-model="selectedDate" view="week-scheduler" :weekdays="[1,2,3,4,5,6,0]" short-weekday-label :resources="resources" resource-key="Employee_code" :resource-height="0" :resource-width="450" bordered style="height: 100%; width: 100%;">
      <template #scheduler-resource-day="{ timestamp, resource }">
        <template v-for="(event, index) in getEvents(timestamp.date, resource.Employee_code)">
          <q-badge :key="index" style="width: 50%; cursor: pointer; height: 16px; max-height: 16px"
            class="my-event justify-center" :class="badgeClasses(event, 'day')" :style="badgeStyles(event, 'day')">
            <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon>
            <span class="ellipsis">{{ event.title }} {{event.time}}-{{event.endShift}}</span>
          </q-badge>
        </template>
      </template>
      <template #scheduler-resource="{ resource /*, index */ }">
        <div class="q-pa-xs">
          <div> {{ resource.department }} - {{ resource.cv_name }} ({{ resource.Employee_code }})</div>
        </div>
      </template>
    </q-calendar>
  </div>
</div> -->
<!-- <div>Đang xây dựng
  <v-btn @click.prevent="getEvents('2023-09-29','K-0290')">Test</v-btn>
</div> -->
<div>Đang xây dựng
</div>