<div>
  <v-data-table :headers="headers" :items="items">
    <template v-slot:item.resignDate="{ item }">
      {{ item.resignDate ? formatDate(item.resignDate) : item.resignDate}}
    </template>
    <template v-slot:item.status="{ item }">
      <v-chip :color="statusColor[item.status]" label>{{ item.status }}</v-chip>
    </template>
    <template v-slot:item.dataHandover="{ item }">
      <v-expansion-panels accordion flat>
        <v-expansion-panel>
          <v-expansion-panel-header>Chi tiết bàn giao</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-timeline align-top dense>
              <v-timeline-item v-for="(subitem, index) in JSON.parse(item.dataHandover)" :key="index"
                :color="statusColor[subitem.status]" small>
                <v-row class="pt-1">
                  <v-col cols="3">
                    <strong>{{subitem.status}}</strong>
                  </v-col>
                  <v-col>
                    {{subitem.email}}
                    <div class="text-caption">
                      {{subitem.comments}}
                    </div>
                    <div class="text-caption">
                      {{subitem.timestamp}}
                    </div>
                  </v-col>
                </v-row>
              </v-timeline-item>
            </v-timeline>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="showCompletedForm(item)" color="success">
        mdi-check
      </v-icon>
    </template>
  </v-data-table>
  <v-dialog v-model="dialog.show" :width="dialog.width || 500">
    <v-form ref="form" @submit.prevent="submit">
      <v-card>
        <v-card-title class="text-h5 white--text" v-html="dialog.title" :class=" dialog.color || 'primary' ">
        </v-card-title>
        <v-card-text class="mt-6 pb-0">
          <my-input :item="form.id" v-if="form.id.value"></my-input>
          <my-input :item="form.status"></my-input>
          <v-timeline align-top dense>
            <v-timeline-item v-for="(item, index) in form.dataHandover.value" :key="index"
              :color="statusColor[item.status]" small>
              <v-row class="pt-1">
                <v-col cols="3">
                  <strong>{{item.status}}</strong>
                </v-col>
                <v-col>
                  <strong>{{item.email}}</strong>
                  <div class="text-caption">
                    {{item.comments}}
                  </div>
                  <div class="text-caption">
                    {{item.timestamp ? new Date(item.timestamp).toLocaleString(): item.timestamp}}
                  </div>
                </v-col>
              </v-row>
            </v-timeline-item>
          </v-timeline>
          <my-input :item="comments"></my-input>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn type="submit" text :color="dialog.color || 'primary' " :disabled="loading">
            <v-icon left>{{ dialog.icon }}</v-icon>
            {{ dialog.type }}
          </v-btn>
          <v-btn color=" grey " text @click="dialog.show = false" :disabled="loading">
            <v-icon left>mdi-cancel</v-icon>
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</div>
