<div>
    <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="workingTimeType.items"
      :search="search"
    >
    <template v-slot:item.startShiftAllDay="{ item }">
      {{ item.startShiftAllDay ? formatTime(item.startShiftAllDay) : item.startShiftAllDay}}
    </template>
    <template v-slot:item.endShiftAllDay="{ item }">
      {{ item.endShiftAllDay ? formatTime(item.endShiftAllDay) : item.endShiftAllDay}}
    </template>
    <template v-slot:item.startShiftOptional="{ item }">
      {{ item.startShiftOptional ? formatTime(item.startShiftOptional) : item.startShiftOptional}}
    </template>
    <template v-slot:item.endShiftOptional="{ item }">
      {{ item.endShiftOptional ? formatTime(item.endShiftOptional) : item.endShiftOptional}}
    </template>
    </v-data-table>
  </v-card>
</div>
