<script>
  const LeaveFormComponent = Vue.component('leave-form',{
    data: ()=>({
      leaveForm: Utils.copyObject(Forms.LeaveForm, true),
      dialogLeaveForm: {},
      dialogLeaveFormOther: {},
      leaveDayRanges: [{
        startShift:'',
        startDate:'',
        endShift:'',
        endDate:'',
      }],
      workingShifts: ["Sáng","Chiều","Ca A(Đầu)","Ca A(Cuối)","Ca B(Đầu)","Ca B(Cuối)","Ca C(Đầu)","Ca C(Cuối)","Ca D(Đầu)","Ca D(Cuối)"],
      rules: {
        required: [v => !!v || "This is a required field"],
      },
      tooltipShifts: 'Sáng/Chiều: Áp dụng cho Team theo giờ làm việc 8h30-17h30 | CaA: Áp dụng cho Ops ca từ 8h30 - 17h30 | CaB: Áp dụng cho Ops ca từ 14h-22h | CaC: áp dụng cho Ops ca từ 8h30-10h30 và 16h-22h | CaD: áp dụng cho Ops ca từ 8h30-12h00 và 18h-22h',
      tooltipAssignToEmails: 'Lưu ý: Chỉ tag email người có thẩm quyền duyệt đơn của mình, không tag email của team HR. Nếu loại đơn cần từ 2 người duyệt trở lên thì tag đủ email của những người cần duyệt',
      selectedDepartment: null,
      selectedEmployeeCode: null,
      selectedName: null,
      menuDate: [{
        menuDate1: false,
        menuDate2: false,
      }],
    }),
    computed:{
      ...Vuex.mapState({
        loading: 'loading',
        loginUser: 'loginUser',
        statusColor: 'statusColor',
        leaveTypes: 'leaveTypes',
      }),
      ...Vuex.mapGetters({
        listLeaveTypes: 'listLeaveTypes',
        assignedToEmails: 'assignedToEmails',
        userTeamFilter: 'userTeamFilter',
        listDepartments: 'listDepartments',
        listEmployeeName: 'listEmployeeName',
        listEmployeeCode: 'listEmployeeCode',
      }),
      departmentFilter() {
        if (this.selectedName) {
          return this.userTeamFilter.filter(item => item.cv_name === this.selectedName).map(item => item.department)
        } else if (this.selectedEmployeeCode) {
          return this.userTeamFilter.filter(item => item.Employee_code === this.selectedEmployeeCode).map(item => item.department)
        } else {
          return this.listDepartments
        }
      },
      nameFilter() {
        if (this.selectedDepartment) {
          return this.userTeamFilter.filter(item => item.department === this.selectedDepartment).map(item => item.cv_name)
        } else if (this.selectedEmployeeCode) {
          return this.userTeamFilter.filter(item => item.Employee_code === this.selectedEmployeeCode).map(item => item.cv_name)
        } else {
          return this.listEmployeeName
        }
      },
      employeeCodeFilter() {
        if (this.selectedDepartment) {
          return this.userTeamFilter.filter(item => item.department === this.selectedDepartment).map(item => item.Employee_code)
        } else if (this.selectedName) {
          return this.userTeamFilter.filter(item => item.cv_name === this.selectedName).map(item => item.Employee_code)
        } else {
          return this.listEmployeeCode
        }
      },
     
    },
    methods: {
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      infoLeaveType(value) {
        const a = this.leaveTypes.items.filter(item => item.leaveTypeName === value)
        const a1 = a.map(item => item.isCountSalary)
        const a2 = a.map(item => item.maxLeaveNo)
        const a3 = a.map(item => item.leaveTypeUnit)
        const result = (a2[0] === '') ? `${a1[0]} tính công` : `${a1[0]} tính công (tối đa: ${a2[0]} ${a3[0]})`
        return (value.length === 0) ? '' : result
      },
      showLeaveForm(item){
        this.$refs.leaveForm && this.$refs.leaveForm.resetValidation() && this.$refs.leaveForm.reset() 
        this.dialogLeaveForm = {
          show: true,
          leaveFormType: "self",
          type: "Create",
          title: "Đơn xin nghỉ phép, làm việc tại nhà",
          color: "primary",
          icon: "mdi-plus",
          width: "800"
        }
        const loginUser = this.$store.state.loginUser
        this.leaveForm = Utils.copyObject(Forms.LeaveForm, true)
        this.leaveForm.employeeName.items = loginUser.cv_name
        this.leaveForm.employeeCode.items = loginUser.Employee_code
        this.leaveForm.department.items = loginUser.department
        this.leaveForm.leaveTypes.items = this.listLeaveTypes
        this.leaveForm.assignedToEmails.items = this.assignedToEmails
      },
      showLeaveFormOther(item){
        this.$refs.leaveForm && this.$refs.leaveForm.resetValidation() && this.$refs.leaveForm.reset() 
        this.dialogLeaveFormOther = {
          show: true,
          leaveFormType: "other",
          type: "Create",
          title: "Đơn xin nghỉ phép, làm việc tại nhà",
          color: "primary",
          icon: "mdi-plus",
          width: "800"
        }
        this.leaveForm = Utils.copyObject(Forms.LeaveForm, true)
        this.leaveForm.leaveTypes.items = this.listLeaveTypes
        this.leaveForm.assignedToEmails.items = this.assignedToEmails
      },
      async submitLeaveForm(){
        if (!this.$refs.leaveForm.validate()) return
        const item = Utils.getFormValues(this.leaveForm)
        if (item.assignedToEmails.length === 0) {
          this.$store.dispatch('showSnackbar', {color: 'error',message: 'Vui lòng chọn Người phê duyệt đơn'})
          return; 
        }
        if (item.leaveTypes.length === 0) {
          this.$store.dispatch('showSnackbar', {color: 'error',message: 'Vui lòng chọn Loại ngày nghỉ'})
          return; 
        }
        item.requestedBy = this.loginUser.employee_email
        const dataApprovals = JSON.stringify(item.assignedToEmails.map(email => ({email, status: "Pending", comments: '', timestamp: ''})))
        const dataAutoApproval = JSON.stringify(item.assignedToEmails.map(email => ({email, status: "Approved", comments: 'Đã tự động phê duyệt', timestamp: new Date()})))
        // item.dataApprovals = JSON.stringify(item.assignedToEmails.map(email => ({email, status: "Pending", comments: '', timestamp: ''})))
        item.dataApprovals = (this.loginUser.level === 'C-level' || this.loginUser.level === 'Manager' || this.loginUser.level === 'Director') ? dataAutoApproval : dataApprovals
        item.status = (this.loginUser.level === 'C-level' || this.loginUser.level === 'Manager' || this.loginUser.level === 'Director') ? 'Approved' : 'Pending'
        item.dataLeaveDays = JSON.stringify(this.leaveDayRanges)
        item.pendingOn = item.assignedToEmails[0]
        item.assignedToEmails = JSON.stringify(item.assignedToEmails)
        const leaveFormType = (this.dialogLeaveForm) ? this.dialogLeaveForm.leaveFormType : this.dialogLeaveFormOther.leaveFormType

        if (leaveFormType === "self") {  
          const success = await this.$store.dispatch("createItem", { database: "leaveDaysDatabase", sheetName: "leaveRequests", item})
          if (success) this.dialogLeaveForm.show = false
        } else {
          item.employeeCode = this.selectedEmployeeCode
          item.employeeName = this.selectedName
          item.department = this.selectedDepartment
          const success = await this.$store.dispatch("createItem", { database: "leaveDaysDatabase", sheetName: "leaveRequests", item})
          if (success) this.dialogLeaveFormOther.show = false
        }

      },
      addMoreLeaveDay() {
        this.leaveDayRanges.push({
          startShift:'',
          startDate:'',
          endShift:'',
          endDate:'',
        })
      },
      deleteLeaveDay(index) {
        if(this.leaveDayRanges.length > 1) {
          this.leaveDayRanges.splice(index,1);
        }
      },
    },
    template: `
    <?!= include_('dashboard/Components/LeaveForm/LeaveForm_template.html'); ?>
    `
  })
</script>
