<div>
        <v-progress-linear
            :active="loading"
            :indeterminate="loading"
            absolute
            top
            color="primary"
          ></v-progress-linear>
        <v-row>
          <v-spacer></v-spacer>
          <v-col cols="12" sm="8" md="6" lg="4">
            <v-img
              class="logo rounded mb-6"
              :aspect-ratio="6.1/3.2"
            ></v-img>
            <v-alert
              dense
              border="left"
              type="warning"
            >
              Bạn cần đăng nhập bằng <strong>Email công ty</strong> trước khi truy cập Dashboard nhân sự. Trường hợp chưa được cấp email công ty, có thể đăng nhập bằng email cá nhân đã đăng ký với công ty bằng form login bên dưới.
            </v-alert>
            <v-form ref="form" @submit.prevent="login">
              <my-input :item="form.email"></my-input>
              <v-btn type="submit" color="primary" :disabled="loading" depressed block large>
                <v-icon left>mdi-login</v-icon>
                Login
              </v-btn>
            </v-form>
            <br>
            <v-btn @click="logOut" color="accent" :disabled="loading" depressed block large>
              <v-icon left>mdi-google</v-icon>
              Chuyển tài khoản đăng nhập
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </div>