 <v-row class="text-center">
      <v-btn class="btn ma-2" color="primary" elevation="2" depressed small @click="showLeaveForm" :disabled="loading">
        <v-icon left>mdi-plus</v-icon>
        Đơn xin nghỉ phép, làm việc tại nhà
      </v-btn>
      <v-btn class="btn ma-2" color="primary" elevation="2" depressed small @click="showReviewForm" :disabled="loading">
        <v-icon left>mdi-plus</v-icon>
        Đề xuất thay đổi lương, chức vụ
      </v-btn>
      <v-btn class="btn ma-2" color="primary" elevation="2" depressed small @click="showResignForm" :disabled="loading">
        <v-icon left>mdi-plus</v-icon>
        Đơn xin thôi việc
      </v-btn>
  </v-row>