<template>
  <div>
       <v-menu
        bottom
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="btn ma-2" color="primary" elevation="2" depressed small :disabled="loading" rounded
            v-bind="attrs"
            v-on="on"
          >
          <v-icon left>mdi-plus</v-icon>
            Đơn xin nghỉ phép, làm việc tại nhà
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            @click="showLeaveForm"
          >
            <v-list-item-title>Tạo đơn cho bản thân</v-list-item-title>
          </v-list-item>
          <v-list-item
            @click="showLeaveFormOther"
          >
            <v-list-item-title>Tạo đơn cho nhân viên khác</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    <!-- diaglog tạo đơn cho bản thân -->
    <v-dialog v-model="dialogLeaveForm.show" :width="dialogLeaveForm.width || 500" persistent>
      <v-form ref="leaveForm" @click.prevent="submitLeaveForm">
        <v-card>
          <v-card-title class="text-h5 white--text" v-html="dialogLeaveForm.title" :class="dialogLeaveForm.color || 'primary' ">
          </v-card-title>
          <v-card-text class="mt-6 pb-0">
            <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="3">
                  <my-input :item="leaveForm.employeeCode"></my-input>
                </v-col>
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="4">
                  <my-input :item="leaveForm.employeeName"></my-input>
                </v-col>
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="5">
                  <my-input :item="leaveForm.department"></my-input>
                </v-col>
            </v-row>
            <v-row align="center">
              <v-col
                  cols="12"
                  sm="12"
                  class="pa-1 ma-0">
                  
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-autocomplete v-model="leaveForm.assignedToEmails.value" 
                        :items="leaveForm.assignedToEmails.items" 
                        :label="leaveForm.assignedToEmails.label" 
                        :rules="leaveForm.assignedToEmails.rules"
                        hideDetails="false"
                        disable="loading" 
                        prepend-icon="mdi-email"
                        small-chips
                        multiple="true"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')">
                      </v-autocomplete>
                    </template>
                    <span>{{tooltipAssignToEmails}}</span>
                  </v-tooltip>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col
                  cols="12"
                  sm="5"
                  class="pa-1 ma-0">
                  <v-select v-model="leaveForm.leaveTypes.value" 
                    :items="leaveForm.leaveTypes.items" 
                    :label="leaveForm.leaveTypes.label" 
                    :rules="leaveForm.leaveTypes.rules" 
                    prepend-icon="mdi-format-list-bulleted-type"
                    @change="$emit('change')"
                  ></v-select>
              </v-col>
              <v-col
                  cols="12"
                  sm="7"
                  class="pa-1 ma-0">
                  <p>{{ infoLeaveType(leaveForm.leaveTypes.value)}}</p>
              </v-col>
            </v-row>

            <br>

            <v-container
              v-for="(leaveDayRange, index) in leaveDayRanges"
              v-bind:key="index"
              >
              <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="1"
                > {{index+1}}
                </v-col>
                <v-col
                  cols="12"
                  sm="3"
                  class="pa-1 ma-0"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-select
                        v-model="leaveDayRange.startShift"
                        :items="workingShifts"
                        label="Ca bắt đầu"
                        :rules="rules.required"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')"
                      >
                      </v-select>
                    </template>
                      <span> {{tooltipShifts}} </span>
                    </v-tooltip>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                  class="pa-1 ma-0"
                  small-chips=false
                >
                  <v-menu v-model="menuDate.menuDate1">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        
                        :value="formatDate(leaveDayRange.startDate)"
                        label="Từ ngày"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :rules="rules.required"
                        @change="$emit('change')"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="leaveDayRange.startDate" @input="menuDate.menuDate1 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col
                  cols="12"
                  sm="3"
                  class="pa-1 ma-0"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-select
                        v-model="leaveDayRange.endShift"
                        :items="workingShifts"
                        label="Ca kết thúc"
                        :rules="rules.required"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')"
                      >
                      </v-select>
                    </template>
                      <span>{{tooltipShifts}}</span>
                  </v-tooltip>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                  class="pa-1 ma-0"
                >
                  <v-menu v-model="menuDate.menuDate2">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        
                        :value="formatDate(leaveDayRange.endDate)"
                        label="Đến ngày"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :rules="rules.required"
                        @change="$emit('change')"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="leaveDayRange.endDate" @input="menuDate.menuDate2 = false"></v-date-picker>
                  </v-menu>

                </v-col>
                
                <v-col
                  cols="12"
                  sm="1"
                  class="mt-2"
                >
                  <v-btn
                    icon
                    outlined
                    x-small
                    @click="deleteLeaveDay(index)"
                  >x
                  </v-btn>
                </v-col>
                
              </v-row>
            </v-container>

            <div class="text-left">
              <v-btn
                fab
                x-small
                @click="addMoreLeaveDay"
              >
                <v-icon dark>
                  mdi-plus
                </v-icon>
              </v-btn>
            </div>
            <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="12">
                  <my-input :item="leaveForm.requestReason"></my-input>
                </v-col>
            </v-row>

          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="submitLeaveForm" text :color="dialogLeaveForm.color || 'primary' " :disabled="loading">
              <v-icon left>{{ dialogLeaveForm.icon }}</v-icon>
              {{ dialogLeaveForm.type }}
            </v-btn>
            <v-btn color=" grey " text @click="dialogLeaveForm.show = false" :disabled="loading">
              <v-icon left>mdi-cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- dialog tạo đơn cho nhân viên khác -->
    <v-dialog v-model="dialogLeaveFormOther.show" :width="dialogLeaveFormOther.width || 500" persistent>
      <v-form ref="leaveForm" @click.prevent="submitLeaveForm">
        <v-card>
          <v-card-title class="text-h5 white--text" v-html="dialogLeaveForm.title" :class="dialogLeaveFormOther.color || 'primary' ">
          </v-card-title>
          <v-card-text class="mt-6 pb-0">
            <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="3">
                  <v-autocomplete
                    v-model="selectedEmployeeCode"
                    :items="employeeCodeFilter"
                    :rules="leaveForm.employeeCode.rules" 
                    :prepend-icon="leaveForm.employeeCode.icon"
                    :label="leaveForm.employeeCode.label"
                    small-chips>
                  </v-autocomplete>
                </v-col>
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="4">
                  <v-autocomplete
                    v-model="selectedName"
                    :items="nameFilter"
                    :rules="leaveForm.employeeName.rules" 
                    :prepend-icon="leaveForm.employeeName.icon"
                    :label="leaveForm.employeeName.label"
                    small-chips>
                  </v-autocomplete>
                </v-col>
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="5">
                  <v-autocomplete
                    v-model="selectedDepartment"
                    :items="departmentFilter"
                    :rules="leaveForm.department.rules" 
                    :prepend-icon="leaveForm.department.icon"
                    label="Chọn phòng ban"
                    small-chips>
                  </v-autocomplete>
                </v-col>
            </v-row>
            <v-row align="center">
              <v-col
                  cols="12"
                  sm="12"
                  class="pa-1 ma-0">
                  
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-autocomplete v-model="leaveForm.assignedToEmails.value" 
                        :items="leaveForm.assignedToEmails.items" 
                        :label="leaveForm.assignedToEmails.label" 
                        :rules="leaveForm.assignedToEmails.rules" 
                        prepend-icon="mdi-email"
                        small-chips
                        multiple="true"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')">
                      </v-autocomplete>
                    </template>
                    <span>{{tooltipAssignToEmails}}</span>
                  </v-tooltip>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col
                  cols="12"
                  sm="5"
                  class="pa-1 ma-0">
                  <v-select v-model="leaveForm.leaveTypes.value" 
                    :items="leaveForm.leaveTypes.items" 
                    :label="leaveForm.leaveTypes.label" 
                    :rules="leaveForm.leaveTypes.rules" 
                    prepend-icon="mdi-format-list-bulleted-type"
                    @change="$emit('change')"
                  ></v-select>
              </v-col>
              <v-col
                  cols="12"
                  sm="7"
                  class="pa-1 ma-0">
                  <p>{{ infoLeaveType(leaveForm.leaveTypes.value)}}</p>
              </v-col>
            </v-row>

            <br>

            <v-container
              v-for="(leaveDayRange, index) in leaveDayRanges"
              v-bind:key="index"
              >
              <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="1"
                > {{index+1}}
                </v-col>
                <v-col
                  cols="12"
                  sm="3"
                  class="pa-1 ma-0"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-select
                        v-model="leaveDayRange.startShift"
                        :items="workingShifts"
                        label="Ca bắt đầu"
                        :rules="rules.required"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')"
                      >
                      </v-select>
                    </template>
                      <span>{{tooltipShifts}}</span>
                    </v-tooltip>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                  class="pa-1 ma-0"
                  small-chips=false
                >
                  <v-menu v-model="menuDate.menuDate1">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        
                        :value="formatDate(leaveDayRange.startDate)"
                        label="Từ ngày"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :rules="rules.required"
                        @change="$emit('change')"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="leaveDayRange.startDate" @input="menuDate.menuDate1 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col
                  cols="12"
                  sm="3"
                  class="pa-1 ma-0"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-select
                        v-model="leaveDayRange.endShift"
                        :items="workingShifts"
                        label="Ca kết thúc"
                        :rules="rules.required"
                        v-bind="attrs"
                        v-on="on"
                        @change="$emit('change')"
                      ></v-select>
                    </template>
                      <span>{{tooltipShifts}}</span>
                    </v-tooltip>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                  class="pa-1 ma-0"
                >
                  <v-menu v-model="menuDate.menuDate2">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        
                        :value="formatDate(leaveDayRange.endDate)"
                        label="Đến ngày"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :rules="rules.required"
                        @change="$emit('change')"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="leaveDayRange.endDate" @input="menuDate.menuDate2 = false"></v-date-picker>
                  </v-menu>

                </v-col>
                
                <v-col
                  cols="12"
                  sm="1"
                  class="mt-2"
                >
                  <v-btn
                    icon
                    outlined
                    x-small
                    @click="deleteLeaveDay(index)"
                  >x
                  </v-btn>
                </v-col>
                
              </v-row>
            </v-container>

            <div class="text-left">
              <v-btn
                fab
                x-small
                @click="addMoreLeaveDay"
              >
                <v-icon dark>
                  mdi-plus
                </v-icon>
              </v-btn>
            </div>
            <v-row align="center">
                <v-col
                  cols="12"
                  class="mt-2"
                  sm="12">
                  <my-input :item="leaveForm.requestReason"></my-input>
                </v-col>
            </v-row>

          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="submitLeaveForm" text :color="dialogLeaveFormOther.color || 'primary' " :disabled="loading">
              <v-icon left>{{ dialogLeaveFormOther.icon }}</v-icon>
              {{ dialogLeaveFormOther.type }}
            </v-btn>
            <v-btn color=" grey " text @click="dialogLeaveFormOther.show = false" :disabled="loading">
              <v-icon left>mdi-cancel</v-icon>
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

  </div>
</template>

 